<div class="container" [formGroup]="logIn"> 

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
    </div>
    
    <!-- Password -->
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName="password">
    </div>

    <!-- Button -->
    <button (click)="logIn1()" class="btn btn-primary">LogIn</button>
    <button (click)="FaceBook">FaceBook</button>
    
</div>

