<div class="container">
    <form class="s" [formGroup]="singUp">

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email*:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="pwd">Password*:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"  formControlName="password">
        </div>

        <!-- Button -->
        <button (click)="singUp1()" class="btn btn-success">SingUp</button>

    </form>
</div>
