<nav class="navbar navbar-expand-sm bg-light n">
  
    <ul class="navbar-nav">

      <!-- Home nav -->
      <li class="nav-item">
        <a routerLink="Home" class="nav-link" href="#">Home</a>
      </li>

      <!-- Table nav -->
      <li class="nav-item">
        <a routerLink="Table" class="nav-link" href="#">Table</a>
      </li>

      <!-- Form nav -->
      <li class="nav-item">
        <a routerLink="Form" class="nav-link" href="#">Form</a>
      </li>
    </ul>

    <ul class="nav nav-tabs">

      <!-- singUp nav -->
      <li class="nav-item">
        <a routerLink="SignUp" class="nav-link" href="#">SingUp</a>
      </li>

      <!-- logIn nav -->
      <li>
        <a routerLink="LogIn" class="nav-link" href="#">LogIn</a>
      </li>

      <li>
        <a (click)="logOut()" class="nav-link" href="#">LogOut</a>
      </li>
      
    </ul>
</nav>

<!-- router -->
<router-outlet></router-outlet>